 *{
     margin: 0px;
     padding: 1px ;
 }
 body{
     background-color: black;
 }
 h1{
     justify-content: center;
     color: goldenrod;
 }
 .cards{
     width: 25%;
     background-color: rgb(117, 114, 114);
     display: inline-block;
     border-radius: 10px;
     margin: 40px;
     box-shadow: 2px 2px 10px blue;
 }

 .IMAGE img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    align-self: center;
 }
 p{
     padding-top: 15px;
     font-size: smaller;
     color: goldenrod;
 }
 #rcorners{
    border-radius: 25px;
    border: 2px solid goldenrod;
    padding: 20px;
    width: 300px;
    height: 90px;  
    margin-left: 480px;
    margin-top: 31px;
  }
  #OG{
    border-radius: 25px;
    border: 2px solid goldenrod;
    padding: 20px;
    width: 140px;
    height: 60px;  
    margin-left: 900px;
    margin-top: -40px;
  }
 hr{
     width: 80px;
     align-self: center;
 }
 .tittle{
     text-align: center;
     padding: 5px;
 }
 .description{
     text-align: center;
 }

 button{
     margin-top: 30px;
     margin-bottom: 10px;
     background-color: orange;
     border: 1px solid black;
     padding: 5px;
     border-radius: 5px;
     cursor: pointer;
 }
 button:hover{
     background-color: aqua;
     color: white;
     transition: .3s;
 }
 /*FOR CATEGORIES*/

 #horror{
    border-radius: 25px;
    border: 2px solid goldenrod;
    padding: 20px;
    width: 140px;
    height: 20px;  
    margin-left: 480px;
    margin-top: 50px;
  }
  #sci-fi{
    border-radius: 25px;
    border: 2px solid goldenrod;
    padding: 20px;
    width: 148px;
    height: 60px;  
    margin-left: 480px;
    margin-top: 50px;
  }
  #KF{
    border-radius: 25px;
    border: 2px solid goldenrod;
    padding: 20px;
    width: 160px;
    height: 20px;  
    margin-left: 480px;
    margin-top: 50px;
  }
  #ROMCOM{
    border-radius: 25px;
    border: 2px solid goldenrod;
    padding: 20px;
    width: 160px;
    height: 20px;  
    margin-left: 480px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  span{
    color: aqua;
  }
